.team {
  padding: 120px 0;
  background-color: var(--cloude);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-card .card-content {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
