.benefits{
    padding: 96px 0;
    background-color: #fff;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-box{
    display: none;
}

.benefits-title{
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    margin: 0 0 8px;
}

.benefits .text{
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .benefits-list{
        flex-direction: column;
        gap: 72px;
    }

    .benefits-card {
        width: 100%;
    }

    .benefits-title{
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px){
    .benefits-list{
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .benefits-card{
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .benefits{
        padding: 120px 0;
    }

    .benefits-card{
        flex-basis: calc((100% - 72px) / 4);
    }

    .benefits-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 24px 100px;
        background-color: var(--cloud);
        outline: 1px solid var(--light-gray);
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .benefits-title{
        color: var(--navy-blue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .benefits .text{
        font-weight: 400;
    }
}